<div class="container">
  <div class="row justify-content-sm-center g-5">
    <div class="col-sm-10 col-md-4">
      <div class="card py-4 rounded-5 text-center border-0 shadow-lg">
        <img
          src="./images/clock.svg"
          class="w-25 align-self-center fs-6"
          alt="Clock"
        />
        <div class="card-body mt-3">
          <h3 class="text-primary fw-bolder card-heading">
            MAINTENANCE OF HISTORY
          </h3>
          <p class="card-text fs-6 card-description">
            Lorem ipsum dolor sit amet, consectetur adipis cing elit. Elementum
            nisi aliquet volutpat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-4">
      <div class="card py-4 rounded-5 text-center border-0 shadow-lg">
        <img
          src="./images/computer.svg"
          class="w-25 align-self-center fs-6"
          alt="Clock"
        />
        <div class="card-body mt-3">
          <h3 class="text-primary fw-bolder card-heading">
            EVERYTHING ON A CLICK
          </h3>
          <p class="card-text fs-6 card-description">
            Lorem ipsum dolor sit amet, consectetur adipis cing elit. Elementum
            nisi aliquet volutpat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-4">
      <div class="card py-4 rounded-5 text-center border-0 shadow-lg">
        <img
          src="./images/rocket.svg"
          class="w-25 align-self-center fs-6"
          alt="Clock"
        />
        <div class="card-body mt-3">
          <h3 class="text-primary fw-bolder card-heading">BEST PERFORMANCE</h3>
          <p class="card-text fs-6 card-description">
            Lorem ipsum dolor sit amet, consectetur adipis cing elit. Elementum
            nisi aliquet volutpat.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
