<div class="card px-3 py-2 border-0 rounded-3 shadow-lg" style="width: 17rem">
  <div class="d-flex justify-content-between">
    <h1 class="text-primary section-heading fs-5 fw-bold">John H. Muriel</h1>
    <span>
      <p class="d-inline-block me-1">4.8</p>
      <i class="bi bi-star-fill text-warning"></i>
    </span>
  </div>
  <p class="text-muted text-uppercase small freelancer-title">Video editor</p>
  <div class="d-flex justify-content-between align-items-baseline">
    <span class="text-danger fw-bolder">
      <i class="bi bi-clock me-1"></i>
      <p class="d-inline-block">online</p>
    </span>
    <a
      href="#"
      class="btn btn-link text-primary text-decoration-none fst-italic fw-bolder border-2 rounded-5 freelance-link"
      >Hire Now</a
    >
  </div>
</div>
