<section class="bg-light">
  <div class="container py-5">
    <h2 class="fw-bolder text-primary text-center section-heading my-5">
      Our Top Freelancers
    </h2>
    <div class="row justify-content-center gx-5 gy-5">
      <div class="col-12 col-md-6 col-lg-4 freelancer-card">
        <div>
          <div class="position-relative">
            <div class="card border-0 p-3 rounded-4 shadow-lg">
              <img src="./images/freelancer1.png" alt="" class="img-fluid" />
            </div>
            <div
              class="card px-3 py-2 border-0 rounded-3 shadow-lg position-absolute freelance-badge"
            >
              <div class="d-flex justify-content-between">
                <h1 class="text-primary section-heading fs-5 fw-bold">
                  John H. Muriel
                </h1>
                <span>
                  <p class="d-inline-block me-1">4.8</p>
                  <i class="bi bi-star-fill text-warning"></i>
                </span>
              </div>
              <p class="text-muted text-uppercase small freelancer-title">
                Video editor
              </p>
              <div class="d-flex justify-content-between align-items-baseline">
                <span class="text-danger fw-bolder">
                  <i class="bi bi-clock me-1"></i>
                  <p class="d-inline-block">online</p>
                </span>
                <a
                  href="#"
                  class="btn btn-link text-primary text-decoration-none fst-italic fw-bolder border-2 rounded-5 freelance-link"
                  >Hire Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 freelancer-card">
        <div>
          <div class="position-relative">
            <div class="card border-0 p-3 rounded-4 shadow-lg">
              <img src="./images/freelancer2.png" alt="" class="img-fluid" />
            </div>
            <div
              class="card px-3 py-2 border-0 rounded-3 shadow-lg position-absolute freelance-badge"
            >
              <div class="d-flex justify-content-between">
                <h1 class="text-primary section-heading fs-5 fw-bold">
                  John H. Muriel
                </h1>
                <span>
                  <p class="d-inline-block me-1">4.8</p>
                  <i class="bi bi-star-fill text-warning"></i>
                </span>
              </div>
              <p class="text-muted text-uppercase small freelancer-title">
                Video editor
              </p>
              <div class="d-flex justify-content-between align-items-baseline">
                <span class="text-danger fw-bolder">
                  <i class="bi bi-clock me-1"></i>
                  <p class="d-inline-block">online</p>
                </span>
                <a
                  href="#"
                  class="btn btn-link text-primary text-decoration-none fst-italic fw-bolder border-2 rounded-5 freelance-link"
                  >Hire Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 freelancer-card">
        <div>
          <div class="position-relative">
            <div class="card border-0 p-3 rounded-4 shadow-lg">
              <img src="./images/freelancer3.png" alt="" class="img-fluid" />
            </div>
            <div
              class="card px-3 py-2 border-0 rounded-3 shadow-lg position-absolute freelance-badge"
            >
              <div class="d-flex justify-content-between">
                <h1 class="text-primary section-heading fs-5 fw-bold">
                  John H. Muriel
                </h1>
                <span>
                  <p class="d-inline-block me-1">4.8</p>
                  <i class="bi bi-star-fill text-warning"></i>
                </span>
              </div>
              <p class="text-muted text-uppercase small freelancer-title">
                Video editor
              </p>
              <div class="d-flex justify-content-between align-items-baseline">
                <span class="text-danger fw-bolder">
                  <i class="bi bi-clock me-1"></i>
                  <p class="d-inline-block">online</p>
                </span>
                <a
                  href="#"
                  class="btn btn-link text-primary text-decoration-none fst-italic fw-bolder border-2 rounded-5 freelance-link"
                  >Hire Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 freelancer-card">
        <div>
          <div class="position-relative">
            <div class="card border-0 p-3 rounded-4 shadow-lg">
              <img src="./images/freelancer4.png" alt="" class="img-fluid" />
            </div>
            <div
              class="card px-3 py-2 border-0 rounded-3 shadow-lg position-absolute freelance-badge"
            >
              <div class="d-flex justify-content-between">
                <h1 class="text-primary section-heading fs-5 fw-bold">
                  John H. Muriel
                </h1>
                <span>
                  <p class="d-inline-block me-1">4.8</p>
                  <i class="bi bi-star-fill text-warning"></i>
                </span>
              </div>
              <p class="text-muted text-uppercase small freelancer-title">
                Video editor
              </p>
              <div class="d-flex justify-content-between align-items-baseline">
                <span class="text-danger fw-bolder">
                  <i class="bi bi-clock me-1"></i>
                  <p class="d-inline-block">online</p>
                </span>
                <a
                  href="#"
                  class="btn btn-link text-primary text-decoration-none fst-italic fw-bolder border-2 rounded-5 freelance-link"
                  >Hire Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 freelancer-card">
        <div>
          <div class="position-relative">
            <div class="card border-0 p-3 rounded-4 shadow-lg">
              <img src="./images/freelancer5.png" alt="" class="img-fluid" />
            </div>
            <div
              class="card px-3 py-2 border-0 rounded-3 shadow-lg position-absolute freelance-badge"
            >
              <div class="d-flex justify-content-between">
                <h1 class="text-primary section-heading fs-5 fw-bold">
                  John H. Muriel
                </h1>
                <span>
                  <p class="d-inline-block me-1">4.8</p>
                  <i class="bi bi-star-fill text-warning"></i>
                </span>
              </div>
              <p class="text-muted text-uppercase small freelancer-title">
                Video editor
              </p>
              <div class="d-flex justify-content-between align-items-baseline">
                <span class="text-danger fw-bolder">
                  <i class="bi bi-clock me-1"></i>
                  <p class="d-inline-block">online</p>
                </span>
                <a
                  href="#"
                  class="btn btn-link text-primary text-decoration-none fst-italic fw-bolder border-2 rounded-5 freelance-link"
                  >Hire Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 freelancer-card">
        <div>
          <div class="position-relative">
            <div class="card border-0 p-3 rounded-4 shadow-lg">
              <img src="./images/freelancer6.png" alt="" class="img-fluid" />
            </div>
            <div
              class="card px-3 py-2 border-0 rounded-3 shadow-lg position-absolute freelance-badge"
            >
              <div class="d-flex justify-content-between">
                <h1 class="text-primary section-heading fs-5 fw-bold">
                  John H. Muriel
                </h1>
                <span>
                  <p class="d-inline-block me-1">4.8</p>
                  <i class="bi bi-star-fill text-warning"></i>
                </span>
              </div>
              <p class="text-muted text-uppercase small freelancer-title">
                Video editor
              </p>
              <div class="d-flex justify-content-between align-items-baseline">
                <span class="text-danger fw-bolder">
                  <i class="bi bi-clock me-1"></i>
                  <p class="d-inline-block">online</p>
                </span>
                <a
                  href="#"
                  class="btn btn-link text-primary text-decoration-none fst-italic fw-bolder border-2 rounded-5 freelance-link"
                  >Hire Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
