<div class="hero-section bg-light pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 text-center text-md-start">
        <h1 class="text-primary fw-bolder">
          Hire The Best Video Editors For Your Project
        </h1>
        <p>
          If you need a video editor, you need not go far. Just by browsing
          Workple sitting on your couch, you can get a freelance video editor
          with the apt skills required for your project. For freelance video
          production, you can check out the portfolio of the video editor and
          hire one as per their previous experience.
        </p>
        <button type="button" class="btn btn-primary mt-5">
          Browse Services
          <i class="bi bi-arrow-right icon-big"></i>
        </button>
      </div>
      <div class="col-md-7 align-self-end mt-5">
        <img
          class="img-fluid"
          src="./images/heroImg.png"
          alt="Video expert editing the video"
        />
      </div>
    </div>
  </div>
</div>
