<nav class="navbar navbar-expand-lg text-nowrap">
  <div class="container">
    <a class="navbar-brand me-5" href="#"
      ><img src="./images/logo.svg" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex me-auto mb-2 mb-lg-0" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-3 text-dark">
          <a class="nav-link" href="#">Explore Services</a>
        </li>
        <li class="nav-item me-3 text-dark">
          <a class="nav-link" href="#">Categories</a>
        </li>
        <li class="nav-item me-3 text-dark">
          <a class="nav-link" href="#">Resources</a>
        </li>
        <li class="nav-item me-3 text-dark">
          <a class="nav-link" href="#">ENG</a>
        </li>
      </ul>
      <a href="#" class="btn btn-light me-2 btn-stretched">Sign In</a>
      <a href="#" class="btn btn-outline-primary btn-stretched">Sign Up</a>
    </div>
  </div>
</nav>
