<section class="text-center">
  <div class="container">
    <div class="section-header">
      <h2 class="fw-bolder text-primary section-heading">Main Features</h2>
      <p class="section-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi
        aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae nibh
        nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus
        pulvinar sit amet. Id vel in nam malesuada.
      </p>
    </div>
  </div>
</section>
